* {
    padding: 0%;
    margin: 0%;

}

body {
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-container {
    display: flex;
    height: 75px;
    justify-content: center;
    align-items: center;
    width: 170px;
    margin: 22px;
    border-radius: 60px;

    /* Efek glossy / glass */
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    border: 2z1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.);

    /* Tambahan efek shine */
    background-image: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.1)
    );
}   
nav {
    display: flex;
    padding: 20px;
    align-items: center;
    margin: 10px;
    gap: 20px;
}
nav > img {
    width: 60px;
    height:60px;
    border-radius: 50%;      /* membuat foto bulat */
    object-fit: cover;       /* crop otomatis */
    object-position: 50% 30%;
}
nav > a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 600;
}
.container {
    display: flex;
    flex-direction: column;
    height: 77vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.second-container {
    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0.4),
        rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(5px);
    border-radius: 15px;
    height: 470px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
    gap: 40px;
}
.header-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: translateY(30px);
    margin-top: 40px;
    
}
.header-login i {
    transform: translateY(-20px);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
.header-login h1 {
    font-weight: 600;
}
.header-login > p {
        text-align: center;
        width: 350px;
        font-size: 14px;
        color: rgb(135, 136, 136);
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 10px;
}

.username-login > input {
    width: 340px;
    padding: 12px;
    border-radius: 14px;
    border: none;
    background-color: rgba(255, 255, 255, 0.656) ;

}

.password-login > input {
    width: 340px;
    padding: 12px;
    border-radius: 14px;
    border: none;
    background-color: rgba(255, 255, 255, 0.656) ;

}
.input-form > a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    transform: translateX(114px);
}

.button-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: translateY(-30px);
    gap: 10px;
}


.pembatas {
    display: flex;
    flex-direction: row;
    gap: 7px;
}


.button-login > button {
    width: 350px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 18px;
    transform: ease-in 0.5s;

}

.button-login > button:hover {
    background-color: rgb(41, 41, 41);
    transition: ease-out 0.5s;
    cursor: pointer;
}

.button-login p {
    font-size: 14px;
}

.span1 {
    letter-spacing: 10px; /* atur jaraknya di sini */
    font-size: 20px;
    transform: translateY(-8px);
    color: rgb(185, 185, 185);
}
.button-login > .pembatas > p {
    color: rgb(77, 77, 77);
}
.span2 {
    letter-spacing: 10px; /* atur jaraknya di sini */
    font-size: 20px; 
    transform: translateY(-8px);
    color: rgb(185, 185, 185);

}

.login-with-platform {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-55px);
    gap: 20px;
}

.img1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.551);
    width: 120px;   
    border-radius: 10px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: ease-out 0.5s;
}

.img2    {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.551);
    width: 120px;   
    padding: 1px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: ease-out 0.5s;
}

.img3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.551);
    border-radius: 10px;
    width: 120px;   
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: ease-out 0.5s;
}

.img3:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    
}
.img2:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.img1:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}


.platform1 {
    width: 30px;   /* ubah ukuran icon */
    height: 30px;
}

.platform2 {
    width: 40px;   /* ubah ukuran icon */
    height: 40px;  
}

